/*

Template: IT Infinite - IT Solutions and Services HTML Template
Version: 1.0
Author: potenzaglobalsolutions
Design and Developed by: potenzaglobalsolutions.com

NOTE: This is main stylesheet of template, This file contains the styling for the actual Template.

*/

/*================================================
[  Table of contents  ]
================================================

 :: Typography
 :: Helper Classes
 :: Shortcodes
  	- Accordion
    - Address Info
    - Awards
  	- Button
    - Blog Post
  	- Case Study
    - Countdown
    - Counter
    - Feature Info
    - Form Control
    - Find Job
    - History
    - List style
    - Location
    - Marquee
    - Newsletter
    - Owl Carousel
    - Pricing Table
    - Progress Bar
    - Range Slider
    - Workspaces
    - Steps
    - Skill
    - Team
    - Testimonial
    - Timeline
    - Video

 :: Header
   - Header
   - Header Style 02
   - Header Style 03
   - Header Transparent
 :: Banner
   - Banner
   - banner 02
   - banner 03
 :: Layout
   - Section Title
   - Sticky column
   - Header Inner
 :: Blog
   - Blog
   - blog post sticky
 :: Not Found
 :: Footer
 :: Responsive

======================================
[ End table content ]
======================================*/



// Core files
@use "variables";
@use "typography";
@use "helpers";

// Shortcodes
@use "shortcodes/accordion";
@use "shortcodes/address-info";
@use "shortcodes/action-box";
@use "shortcodes/awards";
@use "shortcodes/blog-post";
@use "shortcodes/service";
@use "shortcodes/team";
@use "shortcodes/testimonial";
@use "shortcodes/newsletter";
@use "shortcodes/find-job";
@use "shortcodes/counter";
@use "shortcodes/case-studies";
@use "shortcodes/owl-carousel";
@use "shortcodes/pricing";
@use "shortcodes/countdown";
@use "shortcodes/button";
@use "shortcodes/history";
@use "shortcodes/form-control";
@use "shortcodes/timeline";
@use "shortcodes/progress-bar";
@use "shortcodes/range-slider";
@use "shortcodes/list";
@use "shortcodes/location";
@use "shortcodes/marquee";
@use "shortcodes/social-icon";
@use "shortcodes/steps";
@use "shortcodes/skill";
@use "shortcodes/select-custom";
@use "shortcodes/video";

// Structure
@use "header";
@use "banner";
@use "layout";

// Pages
@use "blog";
@use "footer";
@use "widget";

